<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# Hello World, In this notebook, we are summarizing Data Science Tools and Ecosystem

# **Objectives**:
List popular languages for Data Science
- python
- java
- julia
- r language
- scala

# 3 commonly used data science languages:
1. Python 
2. R language 
3. Julia
4. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Keras
3. Matplotlib
4. pandas

# Table 
|Data Science Tools|
|-------------|
|Anaconda|
|KNIME|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
a = 3
b = 4
c = 5
d = (a * b) + c
print(d)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Sadique Ahmad